@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: #fff;
  }

.container {
  display: flex;
  width: 100%;
  
}

.left-side {
  width: 15%;
}

aside {
    color: #fff;
    width: 100%;
    padding-left: 20px;
    height: 100%;
    background-image: linear-gradient(30deg , hsl(190, 94%, 38%), #bdd3db);
    /* border-top-right-radius: 80px; */
  }
  
  aside a {
    font-size: 12px;
    color: #fff;
    display: block;
    padding: 12px;
    padding-left: 30px;
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
  }
  
  aside a:hover {
    color: #3f5efb;
    background: #fff;
    outline: none;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  aside a i {
    margin-right: 5px;
  }
  
  aside a:hover::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 35px;
    width: 35px;
    border-bottom-right-radius: 18px;
    box-shadow: 0 20px 0 0 #fff;
  }
  
  aside a:hover::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 38px;
    right: 0;
    height: 35px;
    width: 35px;
    border-top-right-radius: 18px;
    box-shadow: 0 -20px 0 0 #fff;
  }
  
  aside p {
    margin: 0;
    padding: 40px 0;
  }

  .right-side{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.img-group-upload {
    background-color: #fff;
    width: 100%;
    min-width: 450px;
    position: relative;
    margin: 0 auto;
    padding: 20px 20px;
    border-radius: 7px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.05);
  }

input[type="file"] {
    display: none;
  }

label{
  display: block;
  position: relative;
  background-image: linear-gradient(30deg , hsl(190, 94%, 38%), #bdd3db);
  color: #ffffff;
  font-size: 12px;
  text-align: center    ;
  width: 220px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.img-group-upload p{
  text-align: center;
  margin: 20px 0 30px 0;
}

.card-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}

.card-container .img-card {
  position: relative;
  padding: 5px;
}

figure {
    /* width: 40%; */
    text-align: center;
  }

figcaption {
  text-align: center;
  font-size: 12px;
  margin-top: 0.5vmin;
}

.btn-save {
  display: block;
  position: relative;
  background-image: linear-gradient(30deg , hsl(190, 94%, 38%), #bdd3db);
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  width: 50%;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.img-card .icon-list{
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}
.img-card .icon-list button{
  border: none;
  background-color: #f8f8f8;
  color: #202020;
  margin: 0 6px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  opacity: 0.2;
}
.img-card .icon-list button:hover{
  background-color: #202020;
  color: #fff;
  opacity: 1;
}

.btn-save-group {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 431px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .left-side {
    width: 90%;
   
  }

  .right-side {
    /* width: 85%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
  }

  .card-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
  }

  figure {
    width: 75%;
    text-align: center;
  }

  figcaption {
    font-size: 14px;
    margin-top: 0.5vmin;
    text-align: center;
  }
  .btn-save-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;

  }
  .img-card .icon-list {
    left: 40%;
  }
  
  label {
    width: 205px;
  }


}
